

.ItemCount {
    
    display: inline-block;
    margin: 20px;
    
}

.center {
    margin: auto;
    height: 30px;
    width: 50%;
    padding: 10px;

  }

  .logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle;
		position: relative; 
    top:1px; 
}
nav{
    height: 200px;
}

.nav-wrapper{
  background-color: #202020 !important;
}

footer{
  background-color: #202020 !important;

}

main{
  bottom: 200px;
}
#carroDeCompra{
  margin-top: 60px;
  margin-right: 100px;
}

#botonContext {
  margin: 20px;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;  /* Preferred icon size */
  line-height: 1;
  float: right;
  margin-top: 60px;
  margin-right: 50px;

  


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* ----------  CART ----------- */

.productos {

}

.Cart{
margin-bottom: 100px;
}


/* ----------  CART ----------- */


/* ----------- ITEM ------------*/



/* ----------- ITEM ------------*/

/* ----------- FOOTER ----------- */
.page-footer{
  
  position: fixed ;
  width: 100%;
  bottom: 0;
}
/* ----------- FOOTER ----------- */